.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 100px;
    background-color: var(--menuHover);
}
.title{
    font-size: 30px;
    font-weight: 400;
    color: var(--textSoft);
    text-align: center;
}
.right{
    background-color: var(--textAlt);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    color: var(--textSoft);
    width: 50%;
}
.input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text);
    color: var(--text);
    font-size: 12px;
}
.right p{
    color: var(--text);
    font-size: 12px;
    font-weight: 100;
}
.register{
    color: var(--textSoft);
    font-size: 25px;
    font-weight: 400;
}
.label{
    font-size: 12px;
}
.btn{
    margin-top: 10px;
    padding: 15px 20px 15px 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--textSoft);
    cursor: pointer;
}
@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr; 
        height: 100vh;
    }

    .left {
        display: none;
    }
    .right {
         
        padding: 20px;
        height: 100%/* Oculta la sección derecha */
    }

    .form {
        gap: 15px;
    }

    .title h3 {
        font-size: 28px;
    }

    .input {
        font-size: 14px;
        padding: 8px;
    }

    
}
@media (min-width: 769px) and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .left {
        display: none;
    }

    .right {
        
        padding: 30px;
        height: auto;
    }

    .form {
        gap: 20px;
    }

    .title h3 {
        font-size: 30px;
    }

    
}


