.main{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-radius: 10px;
    background-color: var(--menuHover);
    padding: 20px;
    margin-top: 20px;
    color: var(--textSoft);
}
.title{
    color: var(--textSoft);
    display: flex;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}
