.top{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    color: var(--textSoft);
}
.input{
    background-color: transparent;
    color: var(--textSoft);
    border:none;
    outline: none;
    
}
.search{
    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    width:max-content;
    align-items: center;
}
.filter{
    padding: 10px;
    
    
}
.table{
    width: 100%;
    padding: 10px;
    color: var(--text);
    margin-left: 10px;
}
.container{
    background-color: var(--menuSoft);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table td{
    padding: 20px;
}
.add{
    padding: 10px 30px;
    background-color: transparent;
    color: var(--textSoft);
    border: 1px solid var(--text);
    border-radius: 10px;
}
.add:hover{
    background-color: #85929e;
    color: var(--textAlt);
    border: none;
    cursor: pointer;
}
.options{
    display: flex;
    gap:50px
}
.link{
    text-decoration: none;
    color: inherit;
}
@media (max-width:768px){
 /* globals.css */
.container {
    width: 100%;
    max-width: 480px; /* Tamaño típico para móviles */
    margin: 0 auto; /* Centra el contenido */
    padding: 0; /* Espaciado interno */
    box-sizing: border-box; /* Asegura que padding no desborde */
  }
   .top{
    font-size: 10px;
    padding: 5px;
    gap: 5px;
   }  
   .table{
    font-size: 10px;
    table-layout: fixed;
   }
   .table td{
    font-size: 8px;
   }
   .input{
    gap: 5px;
   }
   .add{
    gap :5px;
    font-size: 5px;
   }
   .options{
    gap: 0px;
   }
}