@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik',sans-serif;
}
:root{
  --menu:#151c2c;
  --menuHover:#2e374a;
  --menuSoft:#182237;
  --text:white;
  --textSoft:#b7bac1;
  --menu2: #5d6d7e;
  --textAlt:#1c2833;
  --login:#1C1D21;
}
body{
  background-color: var(--menu); 
}
